body {
    background-color: #747d8c;
}

#header_section {
    padding: 5px;
}

#header_section h1 {
    font-family: cursive;
}

input {
    padding: 10px;
    border-radius: 5px;
}

#dropbox {
    padding: 10px;
    border-radius: 5px;
    width: 190px;
}

#loginbtn {
    padding: 5px;
    border-radius: 5px;
    background-color: #2f3542;
    color: white;
}